<div class="main-menu-container" fxLayout="column" fxLayuot="center">
    <div routerLink="/dashboard" class="buttons-container" fxLayout="column">
        <div class="btn blue"><span class="text">DASHBOARD</span></div>
    </div>
    <div routerLink="/list" class="buttons-container" fxLayout="column">
        <div class="btn blue"><span class="text">LIST</span></div>
    </div>
    <div routerLink="/edition" class="buttons-container" fxLayout="column">
        <div class="btn blue"><span class="text">EDITION</span></div>
    </div>
</div>