@import './../assets/scss/colors.scss';

.comix-main-container {
    height: 100%;

    .comix-main-header-container {
        height: 60px;
        padding: 10px;
        background-color: $field-border;
    }

    .comix-main { 

        .comix-main-menu-container, .comix-main-content-container {
            height: 100%;
            padding: 20px;
        }

        .comix-main-menu-container {
            border-right: 1px solid $field-border;
        }
    }
}

.content-container
{
    border-radius: 1rem;
    border: 2px solid $blue-grey;
    padding: 15px;
}