<div class="comix-main-container" fxLayout="column">

    <div class="comix-main-header-container" fxLayout="row">

    </div>

    <div class="comix-main" fxLayout="row" fxFlex>

        <div class="comix-main-menu-container" fxLayout="column" fxLayuot="center" fxFlex="10">
            <div routerLink="/dashboard" class="buttons-container" fxLayout="column">
                <div class="btn blue"><span class="text">DASHBOARD</span></div>
            </div>
            <div routerLink="/list" class="buttons-container" fxLayout="column">
                <div class="btn blue"><span class="text">LIST</span></div>
            </div>
            <div routerLink="/edition" class="buttons-container" fxLayout="column">
                <div class="btn blue"><span class="text">EDITION</span></div>
            </div>
        </div>
    
        <div class="comix-main-content-container" fxLayout="column" fxFlex>
            <router-outlet></router-outlet>
        </div>
    
    </div>

</div>
